* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    letter-spacing: 0.5px;
}

body {
    background-color: rgb(2, 3, 3)
}

.header-wrapper {
    margin-top: 5vh;
}

.header-wrapper>div {
    margin-bottom: 3em;
}

.header-wrapper li {
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

#navbar-wrapper {
    background-color: #525252;
}

#navbarNav {
    height: 4em;
}

#navbarNav li {
    margin: 1.5em;
}

#navbarNav li a {
    color: white;
}

.products-wrapper,
.our-team-wrapper {
    margin-top: 4.5em;
}

.card {
    border: none;
}

.products-wrapper #products-title,
.our-team-wrapper #our-team-title {
    color: white;
    text-transform: uppercase;
}

.products-wrapper hr,
.our-team-wrapper hr {
    color: white;
}

.products-wrapper .card-body {
    color: #9a9a9a;
    text-align: center;
}

.star-color {
    color: #fa4251;
}

.our-team-wrapper .card-body {
    color: #9a9a9a;
    padding: 0;
    margin-top: 1.5em;
}

.our-team-wrapper .team-col{
    display: flex;
    justify-content: center;
}


.our-team-wrapper .icons-our-team {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #dfdfdf;
    margin: 5px;
}

.icons-our-team:hover{
    background-color: #fa4251;
}

.our-team-wrapper .team {
    text-transform: uppercase;
}

.footer {
    background-color: #525252;
    padding-top: 7em;
    color: white;
}

.footer .input-wrapper {
    height: 60px;
}

.footer input {
    border-radius: 0%;
}

#button-addon2 {
    border-radius: 0%;
    text-transform: uppercase;
}

#button-addon2:hover {
    background-color: #fa4251;
}

.footer .contact-input {
    margin-bottom: 3.5em;
}

.footer .contact-input {
    /* border: 1px solid black; */
}

.footer .folllow {
    color: #9a9a9a;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer ul li {
    padding-top: 0.7em;
}

@media screen and (max-width: 992px) {
    #navbarNav li {
        margin: 0.5em;
    }

    #navbarNav {
        height: auto;
    }

    .our-team-wrapper div.card {
        margin-bottom: 4rem;
    }

    .footer {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .products-wrapper, .our-team-wrapper {
        text-align: center;
    }

    .products-wrapper div {
        width: 90%;
        margin: auto;
    }

    .our-team-wrapper div {
        text-align: center;
        width: 90%;
        margin: auto;
    }

    .our-team-wrapper div.card {
        margin-bottom: 4rem;
    }

    .footer .input-wrapper {
        height: 35px;
    }

}